doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='description', content='Sluice hammocks are personalized just for you and made in the USA. Take Sluice hammocks with you camping or to the park. Sluice hammocks are perfect for relaxing anywhere.')
    link(rel='publisher', href='https://plus.google.com/100407766807870966764')
    link(rel='canonical', href='http://www.sluicegear.com/about')
    meta(name='keywords', content='Hammock made in the USA, Handmade Hammock, Hammock made in North carolina, Nylon Hammock, Colorful hammock, Personalizable Hammock, Create your fun, Hammie Hammock, shop sluice, shop')
    
    title Sluice Gear | About Sluice
    
  body
    div(id='headerContainer')
    div(class='page-banner swirls-bg')
      div(class='container-fluid')
        div(class='row')
          h1 About Sluice
    
    div(class='about-copy-wrapper')
      div(class='container-fluid')
        div(class='row')
          div(class='col-sm-7')
            h2(class='pbl') We Focus on Quality and Our Customers
            p(class='about-txt')
              | We are committed to create quality products because we want people to get outside!
              | Sluice hammocks will always be handmade in the US using the best materials. We build
              | to last and give customers a way to experience their favorite places like never
              | before. With each hammock, our small team hopes to pass on a little piece of North
              | Carolina that everyone can enjoy.
          div(class='col-sm-5 sluice-kids')
            img(src='/img/features/sluice-kids.jpg')
        div(class='row')
          div(class='col-sm-12')
            h2(class='ptl pbl') Sluice?
            p(class='about-txt')
              | Our name was inspired by the traditional method of gold mining where flakes of
              | valuable gold are separated from worthless dirt. Sluice hammocks are designed and
              | built with a similar philosophy – we’ll get you gear to sift through distraction and
              | capture goodness.
    
    section(class='call-to-action-section about-quote-section')
      div(class='container-fluid')
        div(class='row')
          div(class='col-sm-4 pal')
            div(class='quote-block pbm') "I love the new hammock! [My husband] says the only problem is when I get in it and do nothing for the rest of the day..."
            div(class='quote-attribution') Anne M.
            div(class='quote-location ptm') Raleigh, NC
          div(class='col-sm-4 pal')
            div(class='quote-block pbm') 'Your straps are excellent! I\'m going to order another set for my son\'s hammock."
            div(class='quote-attribution') Robert L.
            div(class='quote-location ptm') Charleston, SC
          div(class='col-sm-4 pal')
            div(class='quote-block pbm') "The material you’re using is great! I really like how it feels and the turquoise color is awesome...
            div(class='quote-attribution') Jonathan P.
            div(class='quote-location ptm') Miami, FL
    
    div(id='footerContainer')
    div(id='cartContainer')
    
    div(id='modal')
    
    link(href='https://fonts.googleapis.com/css?family=Engagement|Open+Sans+Condensed:300|Open+Sans:300', rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/octicons/2.2.3/octicons.min.css', rel='stylesheet')
    link(href='/dist/bundle.min.css?v=' + version, rel='stylesheet')
    
    script(src='https://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/react.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/core-min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/md5-min.js')
    script(src='/dist/bundle.min.js?v=' + version)
    