doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='description', content='Sluice hammocks are personalized just for you and made in the USA. Take Sluice hammocks with you camping or to the park. Sluice hammocks are perfect for relaxing anywhere.')
    link(rel='publisher', href='https://plus.google.com/100407766807870966764')
    link(rel='canonical', href='http://www.sluicegear.com')
    meta(name='keywords', content='Hammock made in the USA, Handmade Hammock, Hammock made in North carolina, Nylon Hammock, Colorful hammock, Personalizable Hammock, Create your fun, Hammie Hammock, shop sluice, shop')
    
    title Sluice Gear | Hammocks Made in the USA
    
  body
    div(id='headerContainer')
    div(id='heroContainer')
    
    div(class='learn-more-banner')
      span Learn more about what makes Sluice Hammocks 
      span(class='learn-more-link-btn') great
      span(class='learn-more-link-arrow')
    
    section(id='specsContainer', class='spec-wrapper')
    
    section(id='introSection', class='parallax-section brdr-top')
      div(class='parallax-bg-pnl-wrapper')
        div(id='introSectionParallaxBg', class='parallax-bg-panel start-right tree-beach-pnl')
      div(class='parallax-section-copy-wrapper container-fluid')
        div(class='row parallax-section-copy section-copy right')
          h4 Built for Relaxing
          p
            | Sluice hammocks can be set up in no time and are easily adjusted
            | so you can experience comfort your way. The lightweight laundered
            | nylon fabric is so comfortable you'll want to take a hammock with
            | you wherever you go
  
    section(id='madeInAmericaSection', class='made-in-america-section product-section')
      div(class='container-fluid')
        div(class='row')
          div(class='col-sm-5 col-sm-push-7')
            img(class='section-img', src='img/features/bag-n-straps.jpg', alt='bag and straps')
          div(class='col-sm-7 col-sm-pull-5')
            div(class='section-copy made-in-america-section-copy center-vertical light')
              h4 Home Grown
              p
                | Sluice hammocks are handmade in Raleigh, North Carolina with
                | domestically-sourced materials and components. Our hammocks
                | are produced with the highest quality and ethical standards,
                | so you can relax with complete peace of mind.
  
    section(id='portableSection', class='parallax-section brdr-top')
      div(class='parallax-bg-pnl-wrapper')
        div(id='portableSectionParallaxBg', class='parallax-bg-panel start-right fabric-pnl')
      div(class='parallax-section-copy-wrapper container-fluid')
        div(class='row parallax-section-copy section-copy right l-light')
          h4 Portable and Durable
          p
            | Sluice hammocks are designed for easy setup. Their light
            | weight means you can take Sluice hammocks with you to the park
            | to read, or put them in your pack on a hiking trip. The
            | colorful and comfortable laundered nylon is perfect for
            | wherever you relax.
    
    section(class='infographic-section')
      div(class='container-fluid')
        div(class='row')
          div(class='col-xs-10 col-sm-10 col-xs-push-2 col-xs-push-1')
            img(class='infographic-main-img info-img', src='img/infographic/infographic-1.png', alt='Sluice hammock')
        div(id='infographicTop', class='row infographic-small top')
          div(class='col-xs-3 col-sm-2')
            img(id='infographicThread', class='infographic-small info-img', src='img/infographic/infographic-thread.png', alt='thread icon')
          div(class='col-xs-3 col-xs-push-6 col-sm-2 col-sm-push-8')
            img(id='infographicClip', class='infographic-small info-img', src='img/infographic/infographic-clip.png', alt='clip icon')
        div(id='infographicBottom', class='row infographic-small bottom')
          div(class='col-xs-3 col-sm-2')
            img(id='infographicStash', class='infographic-small info-img', src='img/infographic/infographic-stash.png', alt='stash icon')
          div(class='col-xs-3 col-xs-push-6  col-sm-2 col-sm-push-8')
            img(id='infographicSnap', class='infographic-small info-img', src='img/infographic/infographic-snap.png', alt='snap icon')
    
    section(class='call-to-action-section')
      div(class='container-fluid')
        div(class='row')
          a(class='col-xs-12 col-sm-6 col-md-4 col-md-push-4 col-sm-push-3 btn green solid shadow call-to-action-btn', href='/shop') Personalize your hammock and start relaxing!
    
    section(id='socialSection', class='social-section')
      div(class='social-title')
        h3 Follow us on Instagram and Facebook to stay up to date on all of the latest Sluice news
        div(class='social-icon-wrapper')
          a(class='social-icon' href='http://instagram.com/sluicegear')
            img(src='img/social-icons/instagram.png', alt='follow Sluice Hammocks on Instagram')
          a(class='social-icon' href='https://www.facebook.com/SluiceHammocks')
            img(src='img/social-icons/facebook.png', alt='follow Sluice Hammocks on Facebook')
         div(class='social-hashtag')
            h3(id='sluicing') @sluicegear
    
    div(id='footerContainer')
    div(id='cartContainer')
    
    div(id='modal')
    
    link(href='https://fonts.googleapis.com/css?family=Engagement|Open+Sans+Condensed:300|Open+Sans:300', rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/octicons/2.2.3/octicons.min.css', rel='stylesheet')
    link(href='/dist/bundle.min.css?v=' + version, rel='stylesheet')
    
    script(src='https://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/react.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/core-min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/md5-min.js')
    script(src='/dist/bundle.min.js?v=' + version)
    