doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='description', content='Sluice hammocks are personalized just for you and made in the USA. Take Sluice hammocks with you camping or to the park. Sluice hammocks are perfect for relaxing anywhere.')
    link(rel='publisher', href='https://plus.google.com/100407766807870966764')
    link(rel='canonical', href='http://www.sluicegear.com/shop')
    meta(name='keywords', content='Hammock made in the USA, Handmade Hammock, Hammock made in North carolina, Nylon Hammock, Colorful hammock, Personalizable Hammock, Create your fun, Hammie Hammock, shop sluice, shop')
    
    title Sluice Gear | Sluice Shop
    script !function () { window.location.replace('https://www.facebook.com/SluiceHammocks'); }()
    
  body
    div(id='headerContainer')
    div(class='page-banner feathered-bg')
      div(class='container-fluid')
        div(class='row')
          h1 Shop Sluice
    div(id='customizerContainer')
    div(id='productListContainer')
    div(id='footerContainer')
    div(id='cartContainer')
    
    div(id='modal')
    
    link(href='https://fonts.googleapis.com/css?family=Engagement|Open+Sans+Condensed:300|Open+Sans:300', rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/octicons/2.2.3/octicons.min.css', rel='stylesheet')
    link(href='/dist/bundle.min.css?v=' + version, rel='stylesheet')
    
    script(src='https://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/react.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/core-min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/md5-min.js')
    script(src='/dist/bundle.min.js?v=' + version)
    