/* Header Styling
------------------------------------------------------------------------------*/
.header-wrapper {
  background: #fff;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  width: 100%;
  min-height: 60px;
  max-height: 60px;
  overflow: hidden;
  position: relative;
  -webkit-transition: max-height 0.5s ease-in-out;
     -moz-transition: max-height 0.5s ease-in-out;
          transition: max-height 0.5s ease-in-out;
}

.header-wrapper.expand-small-menu {
  max-height: 2000px;
}

.header-wrapper, .header-wrapper * {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  height: 100%;
}

.header-logo {
  color: #333;
  display: inline-block;
  font-family: 'Engagement', Helvetica, Arial, sans-serif;
  font-size: 40px;
  height: 100%;
  line-height: 59px;
  padding: 0 10px;
  text-decoration: none;
}

.header-logo:visited {
  color: #333;
}

.header-spacer {
  height: 57px;
}

.header-menu-item {
  border-bottom: 2px solid rgba(238, 238, 238, 0.6);
  color: #333;
  font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 57px;
  padding: 0 10px;
  text-align: center;
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header-menu-item:hover { background: rgba(238, 238, 238, 0.6); text-decoration: none; }

.header-menu-item.visited { color: #333; }

.header-menu-item.active { border-bottom: 2px solid #68be79; }

.header-cart-item {
  cursor: pointer;
  font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif;
  font-size: 22px;
  height: 59px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header-cart-item:hover { background: rgba(238, 238, 238, 0.6); }
.header-cart-content {
  margin: auto;
  width: 70px;
}
.header-cart-lbl {
  padding-right: 5px;
}

.header-cart-quantity {
  border: 2px solid #ccc;
  border-radius: 50%;
  display: inline-block;
  height: 32px;
  line-height: 28px;
  margin: 12px 0 0 0;
  text-align: center;
  width: 32px;
}

.header-hamburger-btn {
  background: #fff;
  cursor: pointer;
  color: #333;
  display: none;
  height: 32px;
  position: absolute;
  right: 10px;
  top: 14px;
  width: 32px;
  z-index: 2;
}

.header-hamburger-btn .octicon {
  display: block;
  font-size: 32px;
  height:  100%;
  position: relative;
  z-index: 3;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .header-menu-item {
    border-top: 1px solid #ccc;
    text-align: left;
  }

  .header-menu-item.active {
    background: #eee;
    border-bottom: #eee;
  }

  .header-cart-item {
    border-top: 1px solid #ccc;
    padding-left: 0;
  }

  .header-cart-content {
    margin: 0 0 0 10px;
  }

  .header-spacer {
    display: none;
  }

  .header-hamburger-btn {
    display: block;
  }
}