/* Custom Fonts
------------------------------------------------------------------------------*/
@font-face {
    font-family: 'bebas_neue_regularregular';
    src: url('/fonts/bebasneue_regular-webfont.eot');
    src: url('/fonts/bebasneue_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/bebasneue_regular-webfont.woff2') format('woff2'),
         url('/fonts/bebasneue_regular-webfont.woff') format('woff'),
         url('/fonts/bebasneue_regular-webfont.ttf') format('truetype'),
         url('/fonts/bebasneue_regular-webfont.svg#bebas_neue_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'bebas_neuebold';
    src: url('/fonts/bebasneue_bold-webfont.eot');
    src: url('/fonts/bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/bebasneue_bold-webfont.woff2') format('woff2'),
         url('/fonts/bebasneue_bold-webfont.woff') format('woff'),
         url('/fonts/bebasneue_bold-webfont.ttf') format('truetype'),
         url('/fonts/bebasneue_bold-webfont.svg#bebas_neuebold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Common Button Styling
------------------------------------------------------------------------------*/
.btn {
  border: none;
  background: none;
  border-width: 2px;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  outline: none;
  padding: 10px 12px;
  text-align: center;
}

.btn:active {
  outline: none;
}

.btn.shadow { box-shadow: 0px 0px 4px rgba(0,0,0,0.3) }
.btn.shadow:hover { box-shadow: 0px 0px 8px rgba(0,0,0,0.6) }

.btn-grp > .btn.left-btn {
  border-bottom-right-radius: 0;
  border-right: none;
  border-top-right-radius: 0;
}

.btn-grp > .btn.middle-btn {
  border-radius: 0;
  border-right: none;
}

.btn-grp > .btn.right-btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.btn.blue {
  background: none;
  border: 2px solid #007aff;
  color: #007aff;
}
.btn.blue.hover:hover {
  background: #007aff;
  color: #fff;
}
.btn.blue.solid {
  background: #007aff;
  color: #fff;
}

.btn.green {
  background: none;
  border: 2px solid #68be79;
  color: #68be79;
}
.btn.green.solid {
  background: #68be79;
  color: #fff;
}

.btn.gray {
  background: none;
  border: 2px solid #7e8e9e;
  color: #7e8e9e;
}
.btn.gray.solid {
  background: #7e8e9e;
  color: #fff;
}

.btn.disabled {
  border-color: #aaa;
  color: #aaa;
  cursor: not-allowed;
}
.btn.disabled.solid {
  background: #aaa;
  color: #fff;
}

/* Common Margins and Paddings
------------------------------------------------------------------------------*/
.mas { margin: 5px; }
.mam { margin: 10px; }
.mal { margin: 20px; }

.mts { margin-top: 5px; }
.mtm { margin-top: 10px; }
.mtl { margin-top: 20px; }

.mrs { margin-right: 5px; }
.mrm { margin-right: 10px; }
.mrl { margin-right: 20px; }

.mbs { margin-bottom: 5px; }
.mbm { margin-bottom: 10px; }
.mbl { margin-bottom: 20px; }

.mls { margin-left: 5px; }
.mlm { margin-left: 10px; }
.mll { margin-left: 20px; }

.pas { padding: 5px; }
.pam { padding: 10px; }
.pal { padding: 20px; }

.pts { padding-top: 5px; }
.ptm { padding-top: 10px; }
.ptl { padding-top: 20px; }

.prs { padding-right: 5px; }
.prm { padding-right: 10px; }
.prl { padding-right: 20px; }

.pbs { padding-bottom: 5px; }
.pbm { padding-bottom: 10px; }
.pbl { padding-bottom: 20px; }

.pls { padding-left: 5px; }
.plm { padding-left: 10px; }
.pll { padding-left: 20px; }

/* Common Margins and Paddings
------------------------------------------------------------------------------*/
.info {
  background: rgba(217,237,247,.2);
  border-color: #bce8f1;
  color: #245269;
}

/* Page Banners
------------------------------------------------------------------------------*/
.page-banner {
  border-bottom: 1px solid #ccc;
  height: 200px;
  width: 100%;
}

.page-banner h1 {
  color: #333;
  font-family: 'bebas_neuebold', Helvetica, Arial, sans-serif;
  font-size: 60px;
  font-weight: bold;
  text-shadow: 0px 1px 3px rgba(0,0,0,0.5);
  line-height: 200px;
  padding: 0 10px 0 10px;
  text-align: center;
}

.swirls-bg { background-image: url('/img/textsures/swirl_pattern.png'); }
.feathered-bg { background-image: url('/img/textures/feathered_pattern.png'); }

/* Misc
------------------------------------------------------------------------------*/
.freeze-page-size {
  height: 100%;
  overflow: hidden;
  width: 100%;
}