#customizerContainer {
  width: 100%;
}

.hammock-builder {
  font-family: 'Open Sans Codensed', Helvetica, Arial, sans-serif;
  min-height: 400px;
}

.hammock-builder.container-fluid {
  margin: auto;
  max-width: 1024px;
  width: 100%;
}