.shopping-cart-wrapper {
  background: rgba(0,0,0,0.4);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}
.shopping-cart-wrapper.show-shopping-cart { display: block; }

.shopping-cart {
  background: #fff;
  border-left: 1px solid #ccc;
  font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif;
  max-width: 450px;
  overflow: auto;
  position: fixed;
  right: -450px;
  top: 0;
  -webkit-transition: right 0.2s ease;
          transition: right 0.2s ease;
  width: 100%;
  z-index: 101;
}

.shopping-cart.show-shopping-cart {
  right: 0px;
}

.shopping-cart-empty {
  background: #eee;
}

.shopping-cart-global-ctrls  {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
}

.shopping-cart-global-ctrls > .btn-grp {
  width: 100%;
}

.shopping-cart-global-ctrls > .btn-grp > .left-btn,
.shopping-cart-global-ctrls > .btn-grp > .right-btn {
  width: 50%;
}

.cart-summary {
  background: rgba(240,240,240,.75);
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.shopping-cart-empty .cart-summary {
  display: none;
}

.shopping-cart .empty-cart-msg { display: none; }
.shopping-cart-empty .empty-cart-msg {
  display: block;
  font-size: 20px;
  text-align: center;
}

.cart-summary li:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.cart-summary li.cart-summary-line-item {
  font-size: 24px;
}

.cart-summary-line-item.hide {
  display: none;
}

.cart-summary-lbl { float: left; }
.cart-summary-val { float: right; }

.shopping-cart-separator {
  box-sizing: border-box;
  height: 1px;
  width: 100%;
}

.coupon-item { cursor: pointer; }
.coupon-item:hover {
  background: #fff;
  color: #a94442;
  padding-left: 10px;
  padding-right: 10px;
}

.shopping-cart-separator .inner {
  background: #ccc;
  height: 1px;
  width: 100%;
}

.shipping-msg {
  background: #666;
  color: #fff;
  font-size: 18px;
  font-style: italic;
  text-align: center;
  padding: 10px;
}
.shopping-cart-empty .shipping-msg { display: none; }

.coupon-input {
  background: #fff;
  box-sizing: border-box;
  border: 2px solid #7e8e9e;
  border-bottom-left-radius: 4px;
  border-right: none;
  border-top-left-radius: 4px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height:normal !important;
  padding: 10px 8px;
  width: 70%;
}

.coupon-input:focus,  
.coupon-input:active {
  outline: none;
}

.coupon-input.bad {
  border-color: #a94442;
  color: #a94442;
}

.btn.gray.coupon-apply-btn {
  background: #fff;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height:normal !important;
  width: 30%;
}

.btn.coupon-apply-btn:hover {
  background: rgba(170,170,170,.1);
}